#root {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border: 2px solid #a3a3a3;
  border-radius: 8px; 
  background-color: aliceblue;
  height: 100%; /* Make sure the container also takes up the full height */
}

@media (max-width: 350px) {
  .container {
    max-width: 100%; /* Extend the container to cover the full width */
    border-radius: 0; /* Remove the border-radius for a more consistent look */
    padding: 20px; /* Adjust padding for smaller screens */
    height: 100vh; /* Ensure the container takes up the full viewport height */
  }

  img {
    height: 200px; /* Reduce the height for narrow screens */
  }
}